.mt-10 {
  margin-top: 10rem;
}
.flag {
  height: 200px;
}
.cursor-pointer {
  cursor: pointer;
}
.animation {
  transition: all 0.3s ease-in-out;
}
.animation:hover {
  transform: scale(1.1);
}
.end-10 {
  right: 15px;
}
.border-5 {
  border-radius: 5em;
}
.border-1 {
  border-radius: 1em;
}
.select-region {
  border: 2px solid #ededed;
}

.bg-dark-blue {
  background-color: #1b3052;
  
}
.bg-light-blue{
  background-color: #2f4562;

}
.img-costum{
  max-width: 17em;
  max-height: 14em;
}

.select-custom{
  width: 30%;
}
.card-custom{
  border: 1px solid transparent;
}
.banner{
  width: 80%;
}
